*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}
html{
    padding: 0;
}
h1{
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-weight: 400;
    color: #6A1B9A;  
}

section:first-of-type{
    width: 100%;
    background-image: url(../img/bahia.jpg);
    background-size: cover;
}
section{
    width: 100%;
    background-color: #80808029;
    padding: 20px;
}
.container_padrao{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-items: center;
    margin: 0 auto ;
}

/* Estilo header -- INÍCIO -- */
header{
    
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.topo{
    flex-direction: row;
    margin: auto;
}
header img{
    height: 25px;
    width: 25px;
}
/* Estilo header -- FIM -- */

/* Estilo sessão e formulário INÍCIO */
.topo-form{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 3px;
    text-align: center;
    background-color: #6A1B9A;
}
.topo-form h2{
    font-size: 10px;
    color: #fff;
}
.topo-form img{
    height: 13px;
    transform: rotate(-45deg)
}
.formulario{
    width: 100%;
}
.container-form{
    width: 100%;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
    background-color: #fff;
}
.container-form h2{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 24px 0;
}
label {
    font-size: 16px;
}
input, select{
    height: 20px;
    margin: 8px 0;
    padding: 0 5px;
}
.container_dados_pessoais{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container_datas{
    display: flex;
    flex-direction: column;
}
.container_dados_pessoais input{
    width: 100%; 
    max-width: 100%;
    padding: 0 3px;

}
.container_datas select{
   width: 100%; 
   max-width: 100%;
   padding: 0 3px;
}
.container-select, .container-date{
    display: flex;
    flex-direction: column;
}
.container_radio, .container_checkbox{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.opcoes{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.opcoes div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.opcoes input{
    width: 15px;
}
button{
    font-size: 16px;
    width: 100%;
    height: 32px;
    margin: 12px 0 0 0;
    background-color: #5d15d1;
    color: #fff;
    border: none;
}

/* Estilo sessão e formulário FIM */

/* Estilo sessão ofertas INICIO*/
.ofertas, .anuncios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.titulos {
    text-align: left;
    align-items: start;
}
.titulos h2 {
    font-size: clamp(1.2rem, 1.4vw, 3rem);
    margin: 0 0 10px 0;
    
}
.titulos h3{
    font-size: clamp(1rem, 1.4vw, 3rem);
    font-weight: 400;
}
.container_ofertas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container-cards{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container-cards-50{
    width: 100%;
    position: relative;

}
.container-cards-50 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-imagem{
    width: 100%;
    position: relative;
}
.card-imagem img{
    width: 100%;
    object-fit: cover;

}
.card-imagem legend{
    background-color: #000000;
    color: #fff;
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 2px 4px;
    opacity: 0.8;
}
.container-cards-50 legend{
    background-color: #000000;
    color: #fff;
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 2px 4px;
    opacity: 0.8;
}
/* Estilo sessão ofertas FIM*/

/* Estilo sessão anuncios INICIO*/
section:nth-of-type(3){
    background-color: #80808029;
    min-height: 100vh;
}

.container-anuncios{
    width: 100%;
    display: flex;
    flex-direction: column;    
    gap: 15px;
}
.card-anuncio{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.card-anuncio img{
    width: 100%;
    height: 100%;
    display: block;
}
.card-anuncio-conteudo{
    width: 100%;
    
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.card-anuncio-conteudo h2{
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}
.card-anuncio-conteudo p{
    font-size: clamp(0.7rem, 1.1vw, 1rem);
}
/* Estilo Footer INICIO */

footer{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #5d15d1;
    padding: 20px 30px;
}
footer h1{
    font-size: clamp(1rem, 1.2vw, 1rem);
    color: #fff;
    font-weight: 600;
}
footer span{
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    color: #fff;
}
.conteudo-rodape{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 205px;
}
.conteudo-rodape div{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.conteudo-rodape img{
    width: 18px;
    height: 18px;
    
}
.container-rodape{
    display: flex;
    flex-direction: column;
}
