body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

header{
    height: 10vh;
    width: 100%;
    padding: 20px 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
header img{
    height: 30px;
}
h1{
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: 600;
}
section:first-of-type{
    width: 100%;
    background-image: url(../img/bahia.jpg);
    background-size: cover;
    padding: 20px 40px;
}
.container-form{
    margin: 0 auto;
    width: 90%;    
    background-color: #fff;
}
.topo-form{
    width: 100%;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 3px;
    text-align: center;
    background-color: #6A1B9A;
}
.topo-form h2{
    font-size: 10px;
    color: #fff;
}
.topo-form img{
    height: 13px;
}
form{
    width: 100%;
}