*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}
html{
    padding: 0;
}
h1{
    font-size: clamp(1.2rem, 1.2vw, 2rem);
    font-weight: 400;
    color: #6A1B9A;  
}

section:first-of-type{
    width: 100%;
    background-image: url(../img/bahia.jpg);
    background-size: cover;
    padding: 50px;
}
section{
    width: 100%;
    background-color: #80808029;
    padding: 50px;
}
.container_padrao{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-items: center;
    margin: 0 auto ;
}

/* Estilo header -- INÍCIO -- */
header{
    min-height: 10vh;
    width: 100%;
    padding: 20px 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.topo{
    flex-direction: row;
    margin: auto;
}
header img{
    height: 32px;
    width: 32px;
}
/* Estilo header -- FIM -- */

/* Estilo sessão e formulário INÍCIO */
.topo-form{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 3px;
    text-align: center;
    background-color: #6A1B9A;
}
.topo-form h2{
    font-size: 10px;
    color: #fff;
}
.topo-form img{
    height: 13px;
    transform: rotate(-45deg)
}
.formulario{
    width: 100%;
}
.container-form{
    width: 100%;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
    background-color: #fff;
}
.container-form h2{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 24px 0;
}
label {
    font-size: 16px;
}
input, select{
    height: 20px;
    margin: 8px 0;
    padding: 0 5px;
}
.container_dados_pessoais{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container_datas{
    display: flex;
    flex-direction: column;
}
.container_dados_pessoais input{
    max-width: 100%;
    padding: 0 3px;

}
.container_datas select{
   max-width: 100%;
   padding: 0 3px;
}
.container-select, .contianer-date{
    display: flex;
    flex-direction: column;
}
.contianer_radio, .contianer_checkbox{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.opcoes{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.opcoes div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.opcoes input{
    width: 15px;
}
button{
    font-size: 16px;
    width: 100%;
    height: 32px;
    margin: 12px 0 0 0;
    background-color: #5d15d1;
    color: #fff;
    border: none;
}

/* Estilo sessão e formulário FIM */

/* Estilo sessão ofertas INICIO*/
.ofertas{
    align-items: start;
    
}
.titulos {
    text-align: left;
    align-items: start;
}
.titulos h2 {
    font-size: clamp(1.2rem, 1.4vw, 3rem);
    margin: 0 0 10px 0;
    
}
.titulos h3{
    font-size: clamp(1rem, 1.4vw, 3rem);
    font-weight: 400;
}
.contianer_ofertas{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.container-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-cards-50{
    width: 100%;
    height: 20vh;
    margin-bottom: 10px;
    background-image: url(../img/rio.jpg);
    background-size: cover;
    position: relative;
}
.container-cards-50::after{
    content: "Rio de janeiro";
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 4px 6px;
    opacity: 0.6;
    box-sizing: border-box;
}
.container-cards div:nth-of-type(1){
    width: 100%;
    height: 20vh;
    background-image: url(../img/manaus.jpg);
    background-size: cover;
    position: relative;
    
}
.container-cards div:nth-of-type(2){
    width: 100%;
    height: 20vh;
    background-image: url(../img/niteroi.jpg);
    background-size: cover;
    position: relative;
}
.container-cards div:nth-of-type(3){
    width: 100%;
    height: 20vh;
    background-image: url(../img/saopaulo.jpg);
    background-size: cover;
    position: relative;
}
.container-cards div:nth-of-type(4){
    width: 100%;
    height: 20vh;
    background-image: url(../img/maranhao.jpg);
    background-size: cover;
    position: relative;
}
.container-cards div:nth-of-type(1)::after{
    content: "Manaus";
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 4px 6px;
    opacity: 0.6;
    box-sizing: border-box;
}
.container-cards div:nth-of-type(2)::after{
    content: "Rio de janeiro";
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 4px 6px;
    opacity: 0.6;
    box-sizing: border-box;
}
.container-cards div:nth-of-type(3)::after{
    content: "São Paulo";
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 4px 6px;
    opacity: 0.6;
    box-sizing: border-box;
}
.container-cards div:nth-of-type(4)::after{
    content: "Rio de janeiro";
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 4px 6px;
    opacity: 0.6;
    box-sizing: border-box;
}

/* Estilo sessão ofertas FIM*/

/* Estilo sessão anuncios INICIO*/
section:nth-of-type(3){
    background-color: #80808029;
    min-height: 100vh;
}
.container_anuncios{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-card-anuncio{
    width: 100%; 
    margin: auto;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.container-card-anuncio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-card-anuncio h2{
    font-size: 16px;
    margin: 0 0 10px
}
.container-card-anuncio p{
    font-size: 12px
}
.conteudo{
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
/* Estilo Footer INICIO */

footer{
    height: 50vh;
}

