body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

header{
    height: 10vh;
    width: 100%;
    padding: 20px 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.container_padrao{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    margin: auto;
    background-color: #fff;
}
.topo{
    flex-direction: row;
}
header img{
    height: 32px;
    width: 32px;
}
h1{
    font-size: clamp(1.4rem, 1.5vw, 3rem);
    font-weight: 400;
    color: #6A1B9A;  
}
section:first-of-type{
    width: 100%;
    background-image: url(../img/bahia.jpg);
    background-size: cover;
    padding: 50px;
}
.topo-form{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 3px;
    text-align: center;
    background-color: #6A1B9A;
}
.topo-form h2{
    font-size: 10px;
    color: #fff;
}
.topo-form img{
    height: 13px;
    transform: rotate(-45deg)
}
.formulario{
    width: 100%;
}
.container-form{
    width: 100%;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
}
.container-form h2{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 24px 0;
}
.container_dados_pessoais{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container_datas, .container_trajeto{
    display: flex;
}
.container_dados_pessoais input{
    max-width: 100%;
}
.container_datas input{
   max-width: 50%;
}
